body, html {
    height: 100%;
    margin:0 auto;
  }

  .bg {

    background-image: url("background1.JPG");
    height:100%;
    width:100%;
    background-repeat: repeat;

  }
  .top {
      height:60vh;
      width:100%;

      background:  linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)),url("one.jpg");
      padding-top: 6%;
  }
     .lgbox{
       height: 35vh;
       width: 45vw;
       border: 6px;
       border-style: double;
       border-color: #ffffff;
       margin: 0 auto;
     }
     .box{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       margin-right: 18%;
       margin-left: 5%;
     }
     .lgboximg{
       height: 35vh;
       width: auto;
       margin-bottom: 50px;

     }
     .lgcontent{
       text-align: center;
       line-height: 10px;
       font-family: fantasy;
       padding-top: 9%;
       padding-left: 5%;
       border-left: solid;
       height: 25vh;
       margin:6% 0%;
     }

       .addslider{}
